openapi: 3.2.0
info:
  title: Wove External Testing API
  version: 1.0.0
  description: '# Wove External API Documentation


    The Wove External API allows you to programmatically access document processing, shipment management, and validation capabilities.'
  contact:
    name: Wove API Support
    email: api-support@wove.com
    url: https://docs.wove.com
  license:
    name: Proprietary
    url: https://wove.com/terms
servers:
- url: https://api.wove.com
  description: Production server
- url: https://staging-api.wove.com
  description: Staging server
- url: http://localhost:4000
  description: Development server
security:
- bearerAuth: []
tags:
- name: Testing
  description: Test endpoints for API validation
paths:
  /api/v1/external/test/ping:
    get:
      tags:
      - Testing
      summary: Test API connectivity
      description: 'Simple ping endpoint to test API connectivity and authentication.

        Returns basic information about your authenticated session.'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Ping successful
          headers:
            X-RateLimit-Limit-Minute:
              schema:
                type: integer
              description: Requests per minute limit
            X-RateLimit-Remaining-Minute:
              schema:
                type: integer
              description: Remaining requests this minute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                success: true
                data:
                  message: pong
                  customerId: '1'
                  clientId: '1014844138697089024'
                  timestamp: '2025-07-12T00:30:05.083Z'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTestPing
      x-operation-id-source: derived
  /api/v1/external/test/rate-limit-status:
    get:
      tags:
      - Testing
      summary: Get rate limit status
      description: 'Check your current rate limit usage and remaining quota.

        Useful for monitoring your API usage and planning requests.'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Rate limit status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      limits:
                        type: object
                        properties:
                          perMinute:
                            type: integer
                            example: 60
                          perDay:
                            type: integer
                            example: 10000
                      usage:
                        type: object
                        properties:
                          minute:
                            type: integer
                            example: 5
                          day:
                            type: integer
                            example: 150
                      remaining:
                        type: object
                        properties:
                          minute:
                            type: integer
                            example: 55
                          day:
                            type: integer
                            example: 9850
                      resetTimes:
                        type: object
                        properties:
                          minute:
                            type: string
                            format: date-time
                            example: '2025-07-12T00:32:00.000Z'
                          day:
                            type: string
                            format: date-time
                            example: '2025-07-13T00:00:00.000Z'
      operationId: getApiV1ExternalTestRateLimitStatus
      x-operation-id-source: derived
  /api/v1/external/test/protected:
    get:
      tags:
      - Testing
      summary: Test protected endpoint
      description: 'Test endpoint that requires authentication and specific scopes.

        Use this to verify that your OAuth token has the correct permissions.'
      security:
      - bearerAuth:
        - shipments:read
      responses:
        '200':
          description: Access granted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Access granted to protected endpoint
                      customerId:
                        type: string
                        example: '1'
                      scopes:
                        type: array
                        items:
                          type: string
                        example:
                        - shipments:read
                        - documents:read
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTestProtected
      x-operation-id-source: derived
  /api/v1/external/test/api-usage-status:
    get:
      tags:
      - Testing
      summary: Get API usage statistics
      description: 'Get detailed API usage statistics for the current OAuth client.

        Includes daily, monthly, and total usage metrics.'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: API usage statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      dailyUsage:
                        type: integer
                        example: 150
                        description: Number of API calls made today
                      monthlyUsage:
                        type: integer
                        example: 4523
                        description: Number of API calls made this month
                      totalUsage:
                        type: integer
                        example: 15234
                        description: Total number of API calls made
                      lastRequest:
                        type: string
                        format: date-time
                        example: '2025-07-12T00:30:05.083Z'
                        description: Timestamp of the last API request
                      averageResponseTime:
                        type: number
                        example: 125.5
                        description: Average response time in milliseconds
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTestApiUsageStatus
      x-operation-id-source: derived
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid input parameters
            details:
              type: object
              description: Additional error context
      required:
      - success
      - error
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Response data (varies by endpoint)
        message:
          type: string
          description: Optional success message
      required:
      - success
      - data
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from /auth/token endpoint
