openapi: 3.2.0
info:
  title: Wove External TMS Organizations API
  version: 1.0.0
  description: '# Wove External API Documentation


    The Wove External API allows you to programmatically access document processing, shipment management, and validation capabilities.'
  contact:
    name: Wove API Support
    email: api-support@wove.com
    url: https://docs.wove.com
  license:
    name: Proprietary
    url: https://wove.com/terms
servers:
- url: https://api.wove.com
  description: Production server
- url: https://staging-api.wove.com
  description: Staging server
- url: http://localhost:4000
  description: Development server
security:
- bearerAuth: []
tags:
- name: TMS Organizations
  description: TMS organization management - CRUD and bulk JSONL import
paths:
  /api/v1/external/tms/organizations:
    get:
      tags:
      - TMS Organizations
      summary: List TMS organizations
      description: Retrieve a paginated list of TMS organizations for your customer.
      security:
      - bearerAuth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Items per page
      - name: source
        in: query
        schema:
          type: string
          enum:
          - cw
          - gf
          - lw
          - ns
        description: Filter by TMS source
      - name: type
        in: query
        schema:
          type: string
        description: Filter by organization type (e.g. consignee, shipper, carrier)
      - name: active
        in: query
        schema:
          type: boolean
        description: Filter by active status
      - name: search
        in: query
        schema:
          type: string
        description: Search by name, code, city, state, country, or email
      responses:
        '200':
          description: Organizations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TmsOrganization'
                  pagination:
                    $ref: '#/components/schemas/PaginatedResponse/properties/pagination'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:read scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTmsOrganizations
      x-operation-id-source: derived
    post:
      tags:
      - TMS Organizations
      summary: Create a TMS organization
      description: Create a new TMS organization. The combination of (source, code) must be unique.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTmsOrganizationRequest'
      responses:
        '201':
          description: Organization created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TmsOrganization'
        '400':
          description: Invalid request or duplicate organization code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:write scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: postApiV1ExternalTmsOrganizations
      x-operation-id-source: derived
  /api/v1/external/tms/organizations/{organizationId}:
    get:
      tags:
      - TMS Organizations
      summary: Get a TMS organization
      description: Retrieve a specific TMS organization by ID.
      security:
      - bearerAuth: []
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TmsOrganization'
        '404':
          $ref: '#/components/schemas/NotFoundError'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:read scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTmsOrganizationsByOrganizationId
      x-operation-id-source: derived
    put:
      tags:
      - TMS Organizations
      summary: Update a TMS organization
      description: Update an existing TMS organization. Only provided fields are updated.
      security:
      - bearerAuth: []
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTmsOrganizationRequest'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TmsOrganization'
        '400':
          description: Invalid request or duplicate organization code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/schemas/NotFoundError'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:write scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: putApiV1ExternalTmsOrganizationsByOrganizationId
      x-operation-id-source: derived
    delete:
      tags:
      - TMS Organizations
      summary: Delete a TMS organization
      description: Delete a TMS organization by ID.
      security:
      - bearerAuth: []
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Organization deleted successfully
        '404':
          $ref: '#/components/schemas/NotFoundError'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:delete scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: deleteApiV1ExternalTmsOrganizationsByOrganizationId
      x-operation-id-source: derived
  /api/v1/external/tms/organizations/import:
    post:
      tags:
      - TMS Organizations
      summary: Import organizations from JSONL file
      description: 'Upload a JSONL file to bulk import TMS organizations. Each line must be a JSON object

        with at least `code` and `name` fields. Processing is asynchronous — returns a job ID

        that can be polled for status. A `bulk_upload.completed` or `bulk_upload.failed` webhook

        is fired when the job finishes, including row-level stats (totalRows, successfulRows, failedRows).'
      security:
      - bearerAuth: []
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
          enum:
          - cw
          - gf
          - lw
          - ns
        description: TMS source for the imported organizations
      - name: mode
        in: query
        schema:
          type: string
          enum:
          - replace
          - merge
          - skip
          default: merge
        description: 'Import mode: `merge` (upsert), `skip` (skip existing), `replace` (delete all then insert)

          '
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: JSONL file (max 10MB)
              required:
              - file
      responses:
        '200':
          description: Import job queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TmsOrganizationImportResponse'
        '400':
          description: Invalid source, mode, or file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:write scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: postApiV1ExternalTmsOrganizationsImport
      x-operation-id-source: derived
  /api/v1/external/tms/organizations/import/{jobId}:
    get:
      tags:
      - TMS Organizations
      summary: Get import job status
      description: Check the status and progress of an organization import job.
      security:
      - bearerAuth: []
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Import job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TmsOrganizationImportStatus'
        '404':
          $ref: '#/components/schemas/NotFoundError'
        '401':
          $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Insufficient permissions - requires tms-organizations:read scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getApiV1ExternalTmsOrganizationsImportByJobId
      x-operation-id-source: derived
components:
  schemas:
    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            type: object
            description: Array of items (varies by endpoint)
        message:
          type: string
          description: Optional success message
        pagination:
          type: object
          properties:
            page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 20
            total:
              type: integer
              example: 150
            totalPages:
              type: integer
              example: 8
            hasNext:
              type: boolean
              example: true
            hasPrev:
              type: boolean
              example: false
          required:
          - page
          - limit
          - total
          - totalPages
          - hasNext
          - hasPrev
      required:
      - success
      - data
      - pagination
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid input parameters
            details:
              type: object
              description: Additional error context
      required:
      - success
      - error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from /auth/token endpoint
